@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* Global Styles */
:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #f0597a;
    --success-color: #28a745;
    --background-color: rgb(8, 9, 16);
    --table-odd-cell: #2a4359;
    --table-even-cell: #426a8c;
    --table-hover-cell: #294761;
    --table-header-cell: #101c26;
}

.btn-primary {
    background-color: #7289da !important;
    border-color: transparent;
    width: 15vw;
    @media (max-width: 600px) {
        width: 80vw;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
    background: rgb(8, 9, 16);
    overflow-x: hidden;
}

/* Home*/

.landing {
    /* background: url("https://media0.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif"); */
    /* position: relative; */
    font-family: "IBM Plex Sans", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dark-overlay {
    background-color: rgb(8, 9, 16);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.x-large {
    margin-top: 1vh;
    font-size: 4rem;
    padding-bottom: 2rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.buttons {
    width: 40vw;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 662px) {
    .buttons {
        display: flex;
        flex-direction: column;
        height: 25vh;
        width: 100vw;
    }
    .btn-primary {
        width: 80vw;
        margin: auto;
    }
}

.example {
    z-index: 4;
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* .main-bg {
    height: 100vh;
    background: rgb(8, 9, 16);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
} */

/* Navbar */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 0;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    font-family: "IBM Plex Sans", sans-serif;
    color: white !important;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 0.2em;
}

.nav-link :hover {
    color: blue !important;
}

/* Alert */
.alert {
    padding: 0.8rem;
    width: 100%;
    border-color: black;
    /* margin : 1rem 0; */
    opacity: 0.9;
    /* background: var(--light-color); */
    color: #333;
    position: sticky;
}

.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.alert-success {
    background: var(--success-color);
    color: #fff;
}

/* SignUp and SignIn */

.card {
    background-color: black;
}

/* input[type="text"] {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
    color: #ffffff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
input[type="password"] {
    background: transparent !important;
    border: none !important;
    color: #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
} */

/* Leaderboard */

.table-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
    padding: 5rem 0;
    /* margin-right: 10vw; */
}

/* Level */
.card {
    margin-top: 30px;
}

.level {
    background-color: #ffffff;
}

.level-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-box {
    margin-left: auto !important;
}

.hint {
    color: green;
}

.levelno {
    color: red;
    font-weight: 600;
}

.level-image {
    max-width: 400px;
    max-height: 250px;
}

.logout:hover {
    cursor: pointer;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: var(--table-header-cell);
}

table tbody tr {
    height: 50px;
    color: white;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: center;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

.table100-head th {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--table-even-cell);
}

tbody tr:nth-child(odd) {
    background-color: var(--table-odd-cell);
}

tbody tr {
    letter-spacing: 1px;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #c6c6c6;
    background-color: var(--table-hover-cell);
    cursor: pointer;
}

.column1 {
    width: 110px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 160px;
}

.column4 {
    width: 110px;
}

@media screen and (max-width: 992px) {
    .table100-head th {
        font-size: 1rem;
        color: #fff;
        font-weight: 500;
        letter-spacing: 0;
        text-align: center;
        padding: 0.5rem;
    }

    table thead tr {
        height: 3.2rem;
    }

    tbody tr {
        font-size: 0.8rem;
        color: #808080;
        letter-spacing: 0;
        line-height: 1.2;
        font-weight: unset;
    }
}

a {
    transition: color 0.2s ease;
}

a:hover {
    text-decoration: none;
}
