@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Noto+Sans&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* Global Styles */
:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #f0597a;
    --success-color: #28a745;
    --background-color: rgb(8, 9, 16);
    /* --table-odd-cell: rgba(0, 2, 27, 0.5); */
    --table-odd-cell: rgb(8, 9, 16);
    /* --table-even-cell: rgba(0, 10, 45, 0.5); */
    --table-even-cell: rgb(8, 9, 16);
    --table-hover-cell: #1c1c1c;
    --table-header-cell: #079af7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
    background: rgb(8, 9, 16);
    /* overflow: hidden; */
}

/* Home*/

.landing {
    /* background: url("https://media0.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif"); */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dark-overlay {
    background-color: rgb(8, 9, 16);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.x-large {
    font-size: 5rem;
    padding-bottom: 2rem;
}
.lead {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
/* .main-bg {
    height: 100vh;
    background: rgb(8, 9, 16);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
} */

/* Navbar */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 0;
}
.navbar {
    background-color: black;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #ffffff !important;
    font-weight: 600;
}
.nav-link :hover {
    color: blue !important;
}

/* Alert */
.alert {
    padding: 0.8rem;
	width: 100%;
    border-color: black;
    /* margin : 1rem 0; */
    opacity: 0.9;
    /* background: var(--light-color); */
    color: #333;
    position: sticky;
}

.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.alert-success {
    background: var(--success-color);
    color: #fff;
}

/* SignUp and SignIn */

.card {
    background-color: black;
}

input[type="text"] {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
    color: #ffffff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
input[type="password"] {
    background: transparent !important;
    border: none !important;
    color: #ffffff !important;
    border-bottom: 1px solid #ffffff !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

/* Leaderboard */

.table-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
    padding: 5vw;
    /* margin-right: 10vw; */
}

.table-header {
    background-color: #079af7;
    border-bottom: 1px solid black !important;
}

/* Level */
.card {
    margin-top: 30px;
}

.level {
    background-color: #ffffff;
}
.level-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.answer-box {
    margin-left: auto !important;
}
.hint {
    color: green;
}
.levelno {
    color: red;
    font-weight: 600;
}
.level-image {
    max-width: 400px;
    max-height: 250px;
}
.logout:hover {
    cursor: pointer;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: var(--table-header-cell);
}

table tbody tr {
    height: 50px;
    color: white;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: center;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

.table100-head th {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--table-even-cell);
}

tbody tr:nth-child(odd) {
    background-color: var(--table-odd-cell);
}

tbody tr {
    letter-spacing: 1px;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #c6c6c6;
    background-color: var(--table-hover-cell);
    cursor: pointer;
}

.column1 {
    width: 110px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 160px;
}

.column4 {
    width: 110px;
}

@media screen and (max-width: 992px) {
    table {
        display: block;
        margin-top: 4rem;
    }

    table > *,
    table tr,
    table td,
    table th {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        height: auto;
        padding: 37px 0;
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }

    table tbody tr td:last-child {
        margin-bottom: 0;
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: 700;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }

    table tbody tr td:nth-child(1):before {
        content: "Rank";
    }

    table tbody tr td:nth-child(2):before {
        content: "Name";
    }

    table tbody tr td:nth-child(3):before {
        content: "Institution";
    }

    table tbody tr td:nth-child(4):before {
        content: "Level";
    }

    .column4,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }

    tbody tr {
        font-size: 14px;
    }
}
