@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url(https://fonts.googleapis.com/css?family=Noto+Sans&display=swap);

/* Global Styles */
:root {
	--primary-color: #17a2b8;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #f0597a;
	--success-color: #28a745;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "IBM Plex Sans", sans-serif;
	letter-spacing: 2px;
	padding: 0px;
	margin: 0px;
	background: black;
	/* overflow: hidden; */
}

/* Home*/

.landing {
	background: url("https://media0.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.landing-inner {
	color: #fff;
	height: 100%;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.dark-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.x-large {
	font-size: 5rem;
	padding-bottom: 2rem;
}
.lead {
	font-size: 1.5rem;
	margin-bottom: 3rem;
}
.main-bg {
	height: 100vh;
	/* background: url("https://media0.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif"); */
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

/* Navbar */

#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar {
	background-color: black;
}
.navbar-nav li {
	padding: 0 10px;
}
.navbar-nav li a {
	color: #ffffff !important;
	font-weight: 600;
}
.nav-link :hover {
	color: blue !important;
}

/* Alert */
.alert {
	padding: 0.8rem;
	border-color: black;
	/* margin : 1rem 0; */
	opacity: 0.9;
	/* background: var(--light-color); */
	color: #333;
	position: sticky;
}

.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.alert-success {
	background: var(--success-color);
	color: #fff;
}

/* SignUp and SignIn */

.card {
	background-color: black;
}

input[type="text"] {
	background: transparent !important;
	border: none !important;
	border-bottom: 1px solid #ffffff !important;
	color: #ffffff !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}
input[type="password"] {
	background: transparent !important;
	border: none !important;
	color: #ffffff !important;
	border-bottom: 1px solid #ffffff !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

/* Leaderboard */

.table-container {
	padding: 5vw;
	/* margin-right: 10vw; */
}

.table {
	background-color: black;
}

.table-header {
	background-color: #079af7;
	border-bottom: 1px solid black !important;
}

/* Level */
.card {
	margin-top: 30px;
}

.level {
	background-color: #ffffff;
}
.level-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.answer-box {
	margin-left: auto !important;
}
.hint {
	color: green;
}
.levelno {
	color: red;
	font-weight: 600;
}
.level-image {
	max-width: 400px;
	max-height: 250px;
}
.logout:hover {
	cursor: pointer;
}
