/* Home Page */

.landing {
  position: relative;
  background-color: black;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.x-large {
  font-size: 5rem;
  padding-bottom: 2rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
